In [4]:
import pandas as pd

In [5]:
data = pd.read_csv("Pokemon.csv")
data.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [6]:
HP_mean = data["HP"].mean()
def set_hp(val):
    if val < HP_mean:
        return "Low HP"
    else:
        return "High HP"
    
speed_mean = data["Speed"].mean()
def set_speed(val):
    if val < speed_mean:
        return "Low speed"
    else:
        return "High speed"
    
data["High_Low_HP"] = data["HP"].apply(set_hp)
data["High_Low_speed"] = data["Speed"].apply(set_speed)

In [7]:
data.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,High_Low_HP,High_Low_speed
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Low HP,Low speed
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,Low HP,Low speed
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,High HP,High speed
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,High HP,High speed
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,Low HP,Low speed